:root {
  touch-action: pan-x pan-y;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body,
#__next {
  margin: 0;
  padding: 0;
  height: 100%;
  color: rgb(33, 37, 41);
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Apple SD Gothic Neo',
    'Malgun Gothic', '맑은 고딕', 나눔고딕, 'Nanum Gothic', 'Noto Sans KR', 'Noto Sans CJK KR',
    arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

button:focus,
input:focus {
  outline: none;
}
