:root {
  touch-action: pan-x pan-y;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100%;
  color: rgb(33, 37, 41);
  margin: 0;
  padding: 0;
  font-size: 16px;
}

button:focus,
input:focus {
  outline: none;
}
