.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: 1px solid #eee;
  padding-top: 1rem;
}

.addButton {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  border: 0;
  background-color: #fff;
  transition: all ease 0.3s;
  cursor: pointer;
}
.addButton.close {
  transform: rotate(-90deg);
}

.addButton svg {
  width: 2.5rem;
  height: 2.5rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid #eee;
  padding: 1.3rem 0 1.3rem 0;
}

.form {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.titleInput {
  flex-grow: 1;
  height: 2.3rem;
  font-size: 1.2rem;
  padding-left: 0.7rem;
  border: 1px solid #ddd;
  border-radius: 6px;
}
.titleInput:focus {
  border-color: #777;
}
.titleInput::placeholder {
  color: #eee;
}

.submitButton {
  height: 2.5rem;
  margin-left: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: rgb(3%, 41%, 99.1%);
  border: 1px solid #ddd;
  border-radius: 6px;
  cursor: pointer;
}

.error {
  margin-top: 0.3rem;
  padding-left: 0.3rem;
  color: rgb(98%, 1%, 1%);
  width: 100%;
}
