.root {
  display: flex;
  flex-direction: column;
}

.empty {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  color: #999;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.title {
  flex-grow: 1;
  font-size: 1.3rem;
  padding-left: 0.5rem;
}
.title.done {
  text-decoration: line-through;
  color: #999;
}

.doneButton {
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  /* border: 1px solid #eee; */
  border: 0;
  /* border-radius: 50%; */
  background-color: #fff;
  /* color: #999; */
  cursor: pointer;
}

.deleteButton {
  /* color: rgb(99.1%, 20.6%, 3%); */
  width: 2.5rem;
  height: 2.5rem;
  border: 0;
  background-color: #fff;
  cursor: pointer;
}
