.root {
  display: flex;
  align-items: center;
  height: 2rem;
  font-size: 1.3rem;
}

.prev {
  padding: 0.3rem;
  border: 0;
  background-color: #fff;
  color: rgb(99.1%, 20.6%, 3%);
  cursor: pointer;
}

.next {
  padding: 0.3rem;
  border: 0;
  background-color: #fff;
  color: rgb(99.1%, 20.6%, 3%);
  cursor: pointer;
}

.state {
  font-weight: bold;
}
