.root {
  display: flex;
  align-items: center;
  height: 2rem;
  font-size: 1.3rem;
}

.prev {
  border: 0;
  padding: 0;
  background-color: #fff;
  cursor: pointer;
}

.prev svg {
  margin: 0.2rem 0.5rem 0 0;
  width: 1.3rem;
  height: 1.3rem;
}

.next {
  border: 0;
  padding: 0;
  background-color: #fff;
  cursor: pointer;
}

.next svg {
  margin: 0.2rem 0 0 0.5rem;
  width: 1.3rem;
  height: 1.3rem;
}

.state {
  font-weight: bold;
}
