.root {
  display: flex;
  align-items: center;
  height: 2rem;
  font-size: 1.3rem;
}

.prev {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.3rem;
}

.next {
  width: 1.3rem;
  height: 1.3rem;
  margin-left: 0.3rem;
}

.state {
  font-weight: bold;
}
